#navbar {
    width: 100vw;
    background-color: var(--color-grey-dark);
    padding: 1rem 1.5rem;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-nav {
    background-color: var(--font-color-white);
    padding: 0 0.3rem;
    border: 1px solid var(--orange-color);
}

#navbar-mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-ligth);
    padding: 0.5rem;
    gap: 1rem;
}
