#proyectos {
    padding: 4rem 1rem;
}

#proyectos h2 {
    padding: 0.6rem 0 1.5rem 0;
}

#allProjects-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project-container {
    background-color: var(--color-grey-dark);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-container img {
    width: 15rem;
    margin: 0 auto;
    border: 1px solid var(--orange-color);
}

.project-container h3 {
    font-size: 1.5rem;
    color: var(--orange-color);
}

.btn-projects {
    width: 10rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .project-container {
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    #proyectos h2 {
        font-size: 2rem;
    }

    #allProjects-container {
        flex-direction: row;
    }

    .project-container p {
        height: 2rem;
    }


}